/* Your CSS here. */
.gray {
    padding-top: 5;
    padding-left: 5;
    vertical-align: middle;
    text-align: center;
    line-height: 1.5;
    background-color: gray;
    color: white;
    width: 80;
    height: 60;
}

.para {
    text-align: left;
}

