/* Your CSS here. */
.gray {
    padding-top: 15;
    padding-left: 15;
    vertical-align: middle;
    text-align: center;
    line-height: 1.5;
    background-color: gray;
    color: white;
    width: 60;
    height: 60;
}

.para {
    text-align: left;
    word-wrap: normal;
    padding: 15;
}

