/* Your CSS here. */
.gray {
    vertical-align: middle;
    text-align: center;
    line-height: 1.5;
    background-color: gray;
    color: white;
    width: 60;
    height: 80;
}

.para {
    padding-left: 30px;
}

