/* Your CSS here. */
.gray {
    padding-top: 15px;
    padding-left: 15px;
    vertical-align: middle;
    text-align: center;
    line-height: 1.5;
    background-color: gray;
    color: white;
    width: 60%;
    aspect-ratio: 1/0.75;
    margin-left: 20%;
    margin-top: 40px;
}

.para {
    text-align: left;
    word-wrap: normal;
}

